/JavaApplication10/nbproject/private/
/FileReader_teszt/nbproject/private/
/FileReader_teszt/build/
FileReader_teszt/test.txt

FileReader_teszt/testout.txt
/FileReader_teszt/dist/
FileReader_teszt/dist másolata/

FileReader_teszt/test.dat

FileReader_teszt/test2.dat

FileReader_teszt/test2.txt

FileReader_teszt/testsadfsasafsafsafasfsadf.dat
/EDF_FileReader/build/

*.bdf
/EDF_FileReader/dist/
